@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    /* Page Pallete */
    --mainColor: #6199af;
    --whiteColor: #ffffff;
    --darkColor: #363636;
    /* Layout */
    --footerHeight: 50px;
    --gameWidth: 340px;

}
/* General */
body {
    position: relative;
    min-height: 100vh;
    background-color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;;
    color: var(--darkColor);
    padding-bottom: var(--footerHeight);
}

body,
body * {
    box-sizing: border-box;
    margin: 0;
}

/* Page styling */
.page {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--gameWidth);
    height: calc(100% - var(--footerHeight));
    opacity: 0;
    filter: blur(10px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    user-select: none;
}

.page.show {
    opacity: 1;
    filter: blur(0px);
    pointer-events: initial;
}

/* Home/Menu page styling */
.page.menu-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-view .logo {
    flex: 0 1 200px;
    overflow: hidden;
    min-height: 100px;
}

.menu-view .logo img {
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
}

.menu-view .separator {
    flex: 0 2 10%;
    width: 100%;
}

.name-input {
    border: 0;
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    height: 40px;
    width: 180px;
    text-align: center;
    font-size: 18px;
}

.button {
    display: block;
    border: 0;
    width: 180px;
    height: 55px;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: var(--whiteColor);
    color: var(--mainColor);
    text-align: center;
    margin: 5px;
    font-size: 32px;
    letter-spacing: 1px;
}

.menu-view .button {
    margin: 15px 0;
    flex: 0 0 55px;
}

/* Game page styling */
.game-stats-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-stats {
    font-size: 24px;
    color: var(--whiteColor);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.main-pic-container {
    background: url("../images/loading.gif");
    background-size: cover;
    min-height: 80px;
}

.main-pic {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.main-pic.visibility {
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    display: block;
    transition: transform 0.8s ease-in-out;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card .card-back {
    transform: translateZ(1px);
}

.grid.show .card, 
.card.show {
    transform: rotateY(180deg);
}

img.card-back,
img.card-front,
img.main-pic {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Footer styling */
.footer {
    height: var(--footerHeight);
    max-width: var(--gameWidth);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer i {
    text-decoration: none;
    font-size: 36px;
    color: var(--whiteColor);
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--whiteColor);
    padding: 20px;
    border: 1px solid #888;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .button {
    background: var(--mainColor);
    color: var(--whiteColor);
    margin: 25px 20px 0;
    height: 40px;
    font-size: 18px;
}

#modal-rules p {
    font-size: 16px;
    margin: 5px;
}

.modal h2 {
    margin: 10px 0;
}

.score-list-container {
    margin: 20px;
}

.modal .button {
    background: var(--mainColor);
    color: var(--whiteColor);
    margin: 25px 20px 0;
    height: 40px;
    font-size: 18px;
}

/* Styling for scores modal */
.score-list {
    padding-left: 0;
    list-style: none;
    counter-reset: scoreboard;
}

.score-list li {
    position: relative;
    padding: 15px 15px 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-increment: scoreboard;
    overflow: hidden;
    z-index: 0;
}

.score-list li:nth-child(2n) {
    background: #b5dae9;
}

.score-list li:before {
    content: counter(scoreboard)'.';
    position: absolute;
    right: 100%;
    transform: translateX(100%) rotateZ(-20deg);
    bottom: -10px;
    line-height: 1;
    font-size: 60px;
    color: #b5dae9;
    z-index: -1;
    width: 60px;
}

.score-list li:nth-child(2n):before {
    color: white;
}

.score-list .score {
    font-weight: 500;
}

.score-list .score:after {
    content: ' pts';
}

.score-list .score[data-score="1"]::after {
    content: ' pt';
}

.score-list .date {
    display: block;
    flex: 0 0 100%;
    font-size: 12px;
    color: #464646;
}

/* Resposive desgin */
@media only screen and (min-height: 960px) {
    .main-pic {
        width: 150px;
        height: 150px;
    }

    .card {
        width: 150px;
        height: 150px;
    }

    .game-stats {
        font-size: 32px;
    }

    :root {
    --gameWidth: 480px;
    }
}

@media only screen and (max-height: 580px) {
    .main-pic {
        width: 80px;
        height: 80px;
    }

    .card {
        width: 80px;
        height: 80px;
    }

    .game-stats {
        font-size: 18px;
    }

    :root {
    --gameWidth: 270px;
    }
}
